<div  style=" background-color:#4DD0E1;height:100vh">

  <div class="w3-container" >

    <div style="margin-top:94px;">
      <div class="w3-row">
          <div class="w3-col" style="width:90%">
              <div class="w3-container" style="margin-bottom:16px" role="group">
                  <button type="button" style="margin:2px" (click)="moveToQuestion(i+1)" *ngFor="let q of questions; let i=index" [ngClass]="{'active': question_no==i+1,'focus':question_no==i+1,'btn-success':questions[i].selected,'btn-warning': !questions[i].selected }" class="btn ">{{i+1}}</button>
                </div>
          </div>
          <div class="w3-rest  " >
            <div  >
                <span class="badge badge-success"style="font-size:16px">
                  TIME LEFT {{appService.minutes}}:{{appService.seconds}}
                  </span>
            </div>
          
          </div>
      </div>
    

      <router-outlet></router-outlet>
      
    </div>

  </div>
</div>
