<div style="background-color:#FAFAFA">
  <div class="w3-conatiner" style="height:100vh; padding:20% ">


    <mat-card style="height:400px;" class="w3-display-middle">
      <div class="w3-display-container w3-padding">
        <h3 class="w3-display-middle w3-text-grey ">Crawlink Online Test</h3>

      </div>
      <hr>
     
      <form class="w3-display-middle" style="width:100%  ;min-width: 150px;
        max-width: 500px;">
        <p class="w3-text-grey">Fill your detials</p>
        <mat-form-field  style="width:100%">
          <input [(ngModel)]="user.name" matInput placeholder="Name" [formControl]="nameFormControl">
          <!-- <mat-hint>valid</mat-hint> -->
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Name is
            <strong>required</strong>
          </mat-error>
        </mat-form-field>
        
        <br>
        <mat-form-field  style="width:100%">
          <input [(ngModel)]="user.email" matInput placeholder="Email" [formControl]="emailFormControl"  [errorStateMatcher]="matcher">
          <!-- <mat-hint>valid</mat-hint> -->
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is
            <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <br>
        <br>
        <button (click)="doLogin()" class="w3-display-right" mat-raised-button color="primary" >Login</button>
      </form>

    </mat-card>

  </div>

</div>
