<div class=" w3-container">
  <div class=" w3-display-container " style="min-height:500px;background-color:#ffffff;padding:20px">
    <div>
    
      <div class="w3-display-topright " style="display:flex;align-items:center;justify-content:space-around">
        <button (click)="goPrevious()" mat-button color="primary">Previous</button>
          <button  (click)="goNext()" mat-button color="primary">Next</button>
      </div>
      <div  *ngIf="questions">
        <pre>  {{question_no}}.{{questions[question_no-1].question}}</pre>
        <mat-radio-group [(ngModel)]="questions[question_no-1].selected" >
          <mat-radio-button value="a">
            <pre>a.{{questions[question_no-1].a}}</pre>
          </mat-radio-button>
          <br>
          <mat-radio-button value="b">
            <pre>b.{{questions[question_no-1].b}}</pre>
          </mat-radio-button>
          <br>
          <mat-radio-button value="c">
            <pre>c.{{questions[question_no-1].c}}</pre>
          </mat-radio-button>
          <br>
          <mat-radio-button value="d">
            <pre>d.{{questions[question_no-1].d}}</pre>
          </mat-radio-button>
          <br>
        </mat-radio-group>
      </div>
    </div>
  </div>


  <!-- <div class="w3-display-bottommiddle" (click)="doSubmit()" style="padding:20px">
    <button mat-raised-button color="primary">submit</button>
  </div> -->

</div>
