<div style="position: fixed;width: 100%; margin:0%;overflow:visible; z-index:2">
  <mat-toolbar class="w3-blue w3-bar w3-shadow-bottom">
    <span>Crawlink</span>
    <span style="flex: 1 1 auto;">

    </span>
  
    <span *ngIf="authService.isLoggedIn">   <button mat-raised-button (click)="logout()" color="primary">logout</button>
    </span>

  </mat-toolbar>
</div>

<div class="w3-display-container" style="overflow:visible">
  <router-outlet>
  </router-outlet>
</div>
