<div style="background-color:#f5f5f5">

  <div class="w3-container">

    <mat-card class="w3-display-middle w3-text-grey" style="margin-top:300px;height:400px">
      <p>{{user.name}}</p>

      <mat-card-title>
        <div class="">
          Crawlink-Online Test
        </div>
      </mat-card-title>
      <hr>
      <mat-card-subtitle>
        Instructions
      </mat-card-subtitle>
      <mat-card-content>
        <ul>
          <li>This is the online test for the candidates shortlisted for the interview rounds
          </li>
          <li>Test will be for 30 minutes </li>
          <li>There will be 30 multiple choice type questions </li>
          <li>After completion of the given time, test will be automatically submitted!</li>
          <li>You can submit your test at any time!</li>
        </ul>

        <button mat-raised-button color="primary" [routerLink]="['../quiz']">Take test</button>

      </mat-card-content>
      <mat-card-footer>

      </mat-card-footer>
    </mat-card>
  </div>

</div>
